body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/main.jpg);
    background-size:contain;
    height: 4000px;
    z-index: 0;
    background-repeat: no-repeat;
}
.top-section{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 600px;
    
}
.brand-name{
    height: 300px;
    align-items: center;
    margin-top: -200px;
}
.top-welcome-box{
    background-color: rgba(0, 0, 0, 0.5);

    height: 400x;
    width: 700px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 50px;

}
.welcome {
    height: 100px;
    margin-left: 2px;
    
}
.text-1{
    font-size: 28px;
    font-weight: bold;
    color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -20px;
    margin-left: 30px;
}
.text-description-box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 20px;
    margin-left: 0px;
    line-height: 2;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 6px;
    padding-bottom: 12px;
}
.know-more-button {
    background-color: #F9B209;
    border-radius: 20px;
    border: none;
    padding: 10px 16px 10px 16px;
    margin-left: 0px;
    font-weight: 600;
    cursor: pointer;
}
.know-more-button:hover{
    background-color: #f89d13;
    transition: .5s;
    
}

.mid-body-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 2000px;
    margin-top: 0;

    font-size: 40px;
    
}
.order-now-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-now{
    background-color: #F9B209;
    border-radius: 100px;
    border: none;
    padding: 10px 16px 10px 16px;

    margin-top: 30px;
    margin-left: 0px;
    font-weight: 600;
    cursor: pointer;
    font-size: x-large;
    width: 200px;

}
.order-now:hover{
    transform: scale(1.03);
    transition: .4s;
    box-shadow: 0px 4px 10px #222222;
}